.pre-header {
  width: 100%;
  display: flex;
  align-items: cener;
  justify-content: center;
  padding-top: 0.8em;
}
.pre-header-containter {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}
.pre-header-containter ul {
  list-style-type: none;
}

.pre-header-containter ul li {
  display: inline-block;
  margin-right: 10px;
}

.pre-header-containter a svg {
  color: white;
}

.info {
  margin-left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info a {
  color: white;
  margin-left: 10px;
}

.vc_section {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  display: block;
}
.page-block {
  position: relative;
  padding: 6.35em 0;
}
.vc_section.vc_section-has-fill + .vc_section {
  padding-top: 35px;
}
.BGprime {
  background-color: #8fc240;
}
.z-index {
  z-index: 9999;
  position: absolute;
}
.lang-mobile {
  position: absolute;
  right: 20px;
  top: 70px;
  font-size: 20px;
  z-index: 2;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
  line-height: 0;
  display: none;
  justify-content: center;
  padding: 10px;
  background-color: #f2f2f200;
}

.language {
  position: static;
  margin-top: 10px;
}

.current-language {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-left: 24%;
}

.current-language img {
  width: 16px;
  height: auto;
}

.language-dropdown {
  position: static;
  display: none;
}

.language-dropdown.show {
  display: block;
  margin-top: 12px;
  background-color: #252525;
  padding-bottom: 4px;
}

.language-dropdown li {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
}

.language-dropdown li img,
.lang-img {
  width: 16px;
  vertical-align: middle;
  height: auto;
}

.info-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-info li a {
  color: rgb(255, 255, 255);
}

.top-info li a:hover {
  background-color: #b0a377;
  color: white;
}

.info-content {
  width: 50%;
  display: flex;
  justify-content: center;
}
.display-none {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .lang-mobile {
    display: flex;
  }
  .pre-header {
    flex-direction: row;
  }
  .pre-header-containter ul {
    display: flex;
  }
  .info ul {
    display: inline-block;
  }
  .pre-header-containter {
    width: 90%;
  }
}
